<div class="navbar">
    <div class="navbar__wrapper">
        <div class="navbar__section">
            <div>
                <a class="navbar__routerLink" [routerLink]="'/home'" name='home'>Description</a>
            </div>
        </div>
        <div class="navbar__section">
            <div>
                <a class="navbar__routerLink" [routerLink]="'/example/one'" name='one'>Example 1</a>
            </div>
        </div>
        <div class="navbar__section">
            <div>
                <a class="navbar__routerLink" [routerLink]="'/example/second'" name='second'>Example 2</a>
            </div>
        </div>
        <div class="navbar__section">
            <div>
                <a class="navbar__routerLink" [routerLink]="'/example/third'" name='third'>Example 3</a>
            </div>
        </div>
    </div>
</div>